{% extends "semantic-ui/base.html" %}
{% block content %}
  <div class="mt-5"></div>
  <h1 class="display-1 text-center">Ditzel's Administration</h1>
  <div class="mt-4"></div>
  <p class="lead text-center">Her kan receptionisten/ejeren varetage den daglige drift af hotellet</p>
  <div class="mb-5"></div>
  <hr>
  <div class="mb-3"></div>

  <nav class="nav nav-pills flex-column flex-sm-row mb-2">
    {#    <a class="flex-sm-fill text-sm-center nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#customer" type="button">Kunder</a>#}
    <a class="flex-sm-fill text-sm-center nav-link {% if url_name == 'customer-list' %} active {% endif %}" href="/list/customer/">Nuværende Gæster</a>
    <a class="flex-sm-fill text-sm-center nav-link {% if url_name == 'reservation-list' %} active {% endif %}" href="/list/reservation/">Kommende Reservationer</a>
    <a class="flex-sm-fill text-sm-center nav-link {% if url_name == 'room-list' %} active {% endif %}" href="/list/room/">Ledige Værelser</a>
{#    <a class="flex-sm-fill text-sm-center nav-link {% if url_name == 'employee-list' %} active {% endif %}" href="/list/employee/">Medarbejdere</a>#}
  </nav>
  <div class="mt-3"></div>
  <hr>
  <div class="tab-content">
    {% block listcontent %}
    {% endblock %}
    {% block frontpage %}
    {% endblock %}
  </div>

  {#  <script>#}
  {#      var firstTabEl = document.querySelector('#myTab li:last-child a')#}
  {#      var firstTab = new bootstrap.Tab(firstTabEl)#}
  {#      firstTab.show()#}
  {#  </script>#}
{% endblock %}
