{% extends "index.html" %}
{% block listcontent %}
  <div class="alert alert-primary" role="alert">
    <p class="lead my-2">Liste over reservationer fra i dag og op til 4 uger ude i fremtiden.</p>
  </div>
  <table class="table ">
    <thead>
    <tr>
      <th scope="col">Reservation ID</th>
      <th scope="col">Kunde Email</th>
      <th scope="col">Rum Type</th>
      <th scope="col">Rum ID</th>
      <th scope="col">Tjek ind dato</th>
      <th scope="col">Tjek ud dato</th>
      <th scope="col">Pris</th>
      <th scope="col" style="text-align: right;">Annuller</th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
      <tr>
        <th scope="row">{{ reservation.reservation_id }}</th>
        <td><a href="mailto:{{ reservation.customer_email }}">{{ reservation.customer_email }}</a></td>
        <td>{{ reservation.room_type }}</td>
        <td>{{ reservation.room_id }}</td>
        <td>{{ reservation.checkin_date }}</td>
        <td>{{ reservation.checkout_date }}</td>
        <td>{{ reservation.reservation_price }} kr</td>
        <td style="text-align: right;"><a href="{% url 'reservation-cancel' reservation.reservation_id %}" class="btn btn-warning">Annuller reservation</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
